APP_NAME=AI Symptom Service
APP_VERSION=0.1.0
APP_ENV=development
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=aferent
USER_ROLE_HEADER=X-User-Role
USER_ID_HEADER=X-User-Id
ADMIN_ROLE=ADMIN

